/* Main image section positional styling */


.image {
    position: absolute;
    height: 100%;
    width: 30%;
    perspective: 1000px;
}

/* Image sections */
/* .part-one{
    height: 55%;
    top: 24%;
    left: 5%;
    width: 45%;
} */

.part-two{
    height: 60%;
    top: 25.5%;
    left: 15%;
    width: 85%;
}


/* .part-three{
    height: 45%;
    top: 29%;
    left: 65%;
    width: 15%;
} */

.img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/c3.png");
    background-size: auto 100%;
    box-shadow: -1vw 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

.front {
    height: 100%;
    width: 100%;
    transform: rotateY(20deg);
    transform-origin: 0 50%;
    border: solid 2px rgb(254, 254, 254);
}

.edge {
    height: 100%;
    width: 40px;
    transform-origin: 0% 50%;
    transform: rotateY(-60deg) translateX(-100%);
    filter: brightness(40%);
    border: solid 2px rgb(255, 255, 255);
}

/* Part one image positioning */
.part-one > .front {
    background-position: 4% 50%; 
}

.part-one > .edge {
    background-position: 0 50%;
}

/* Part two image positioning */
.part-two > .front {
    background-position: 50% 0;
}

.part-two > .edge {
    background-position: 28.5% 0;
}

/* Part three image positioning */
.part-three > .front {
    background-position: 96% 50%; 
}

.part-three > .edge {
    background-position: 78% 50%;
}


