@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

/* Default margins for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    scroll-behavior: smooth;
}

/* Color variable */
:root {
    --champagne: rgb(166, 121, 80);
}

/* Active styling */
 .active {
    color: var(--champagne);
}

/* Flex class to center elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main heading styling */
.heading-container {
    width: 100%;
}

.cheetah-heading {
    width: 70%;
    text-align: center;
    margin-top: 170px;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px  rgb(0, 0, 0);
    letter-spacing: 9px;
    font-family: 'Cinzel', serif;
    background-color:var(--champagne);
    padding: 5px;
    rotate: -1deg;
    box-shadow: 5px 5px 12px white;
}

/* Media query */
@media screen and (max-width: 768px) {
    .cheetah-heading {
        font-size: 2rem;
        width: 90%;
    }
}

/* Media query */
@media screen and (max-width: 500px) {
    .cheetah-heading {
        font-size: .8rem;
    }
}

/* ============================================================================================================== */
/* ================================================== Header ==================================================== */
/* ============================================================================================================== */
header {
    padding: 25px 25px; 
    position: fixed; 
    width: 100vw;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0);
}

header img, #menu {
    height: 60px;
    position: absolute;
}

#menu {
    display: none;
    right: 25px;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: center;  
    margin-top: 15px;
}

nav li {
    list-style: none;
}

nav ul li a{
    color: white;
    list-style: none;
    padding: 30px 25px 0 25px;
    text-transform:capitalize;
    font-weight: 600;
    font-size: 13px;
    transition: ease-in-out .5s;
    text-decoration: none;
}

nav ul li:hover, #menu img:hover, #dropdown-menu img:hover {
    cursor: pointer;
    opacity: 0.7;
}

#menu {
    z-index: 10;
}

/* Hamburger menu SVG animation */
svg {
    cursor:pointer;
}

path {
    fill:none;
    stroke:rgb(255, 255, 255);
    stroke-dasharray:50 200;
    stroke-dashoffset:0px;
    stroke-width:7.5px;
    transition:all .5s;
}

path.clicked {
    stroke-dashoffset:-159px;
    transition:all .5s;
}

#middle-stroke.clicked{
    opacity:0;
    stroke-dashoffset:51px;
}

/* Media query */
@media screen and (max-width: 768px) {
    nav ul  {
        display: none;
    }

    #menu {
        display: block;
    }
}

/* ========================================== Dropdown menu =============================================== */
#dropdown-menu {
    display: none;
    position: absolute;
    left: 5vw;
    top: 89px;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 2px 2px 5px var(--champagne);
}

#dropdown-menu img {
    position: absolute;
    height: 30px;
    top: 15px;
    right: 30px; 
}

#dropdown-menu ul{
    width: 100%;
    padding-top: 20px;
}

#dropdown-menu ul li{
    border-bottom: 1px solid var(--champagne);
    padding: 15px;
    list-style: none;
}

#dropdown-menu ul li a{
    text-decoration: none;
    color: black;
}

/* ========================================================================================== */
/* ================================ Home page section layout ======================================== */
/* ========================================================================================== */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 4px -4px var(--champagne);
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/home-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100vw;
}

.home-item {
    position: absolute;
    bottom: 70px;
    width: 70%;
    text-align: center;
    text-shadow: 2px 2px 2px  rgb(0, 0, 0);
    letter-spacing: 9px;
    font-family: 'Cinzel', serif;
    background-color:var(--champagne);
    padding: 5px;
    rotate: -1deg;
    box-shadow: 5px 5px 12px white;
}

#home h1 {
    color: white;
    font-size: 4rem;
    letter-spacing: 9px;
    font-family: 'Cinzel', serif;
    border-radius: 50px;
    text-shadow: 2px 2px 2px  rgb(0, 0, 0);
}

#home h4 {
    margin-top: 5px;
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px  rgb(255, 255, 255);
}

/* Media query */
@media screen and (max-width: 768px) {
    .home-content {
        flex-direction: column;
    }

    .home-item {
        width: 95%;
    }

    .home-image {
        margin-top: 20px;
        height: 300px;
    }

    #home h1 {
        font-size: 2.4em;
    }
    
    #home h4 {
        font-size: 1.6em;
    }
}

/* Media query */
@media screen and (max-width: 468px) {

    #home h1 {
        font-size: 1.8em;
    }
    
    #home h4 {
        font-size: 1em;
    }
}

/* ================================================================================================= */
/* ================================ Cheetah section layout ========================================= */
/* ================================================================================================= */
#page-wrapper {
   overflow: hidden;
}

/* ================================ Cheetah characteristics styling ========================================= */
#characteristics {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 4px 4px -4px var(--champagne);
}

.cheetah-characteristics-content {
    margin: auto;
    padding-top:40px;
}

.characteristics-img {
    background-image: url('images/cheetah-stride.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    width: 100vw;
    margin: 20px 0px;
}

#characteristics sl-tab-group {
    width: 90vw;
    margin: auto;
    --indicator-color: var(--champagne);
}

#sl-tab-1::part(base),
#sl-tab-2::part(base),
#sl-tab-3::part(base),
#sl-tab-4::part(base),
#sl-tab-5::part(base),
#sl-tab-6::part(base),
#sl-tab-7::part(base),
#sl-tab-8::part(base) {
    color: white;
    padding: 10px 100px; 
    font-size: 1.2rem; 
}

#sl-tab-panel-1::part(base),
#sl-tab-panel-2::part(base),
#sl-tab-panel-3::part(base),
#sl-tab-panel-4::part(base),
#sl-tab-panel-5::part(base),
#sl-tab-panel-6::part(base),
#sl-tab-panel-7::part(base),
#sl-tab-panel-8::part(base) {
    color: var(--champagne);
    text-align: center;
    margin-top: 10px;
    padding: 60px 30px;
    font-size: 1.8rem;
}

/* Media query */
@media screen and (max-width: 1024px) {
    #sl-tab-1::part(base),
    #sl-tab-2::part(base),
    #sl-tab-3::part(base),
    #sl-tab-4::part(base),
    #sl-tab-5::part(base),
    #sl-tab-6::part(base),
    #sl-tab-7::part(base),
    #sl-tab-8::part(base) {
        padding: 10px 60px;  
        font-size: 0.9rem; 
    }
}

/* Media query */
@media screen and (max-width: 768px) {
    #sl-tab-1::part(base),
    #sl-tab-2::part(base),
    #sl-tab-3::part(base),
    #sl-tab-4::part(base),
    #sl-tab-5::part(base),
    #sl-tab-6::part(base),
    #sl-tab-7::part(base),
    #sl-tab-8::part(base) {
        padding: 10px 40px;  
    }

    #sl-tab-panel-1::part(base),
    #sl-tab-panel-2::part(base),
    #sl-tab-panel-3::part(base),
    #sl-tab-panel-4::part(base),
    #sl-tab-panel-5::part(base),
    #sl-tab-panel-6::part(base),
    #sl-tab-panel-7::part(base),
    #sl-tab-panel-8::part(base) {
        font-size: 1rem;
}

    .cheetah-characteristics-content { 
        width: 100vw;
     }
}

/* ================================ Cheetah region styling ================================================== */
#regions {
    width: 100vw;
    position: relative;
    box-shadow: 0 4px 4px -4px var(--champagne);
}

.cheetah-regions-content {
    margin-top: 30px;
    height: 80vh;
}

.region-tooltip-content {
    display: none;
    text-align: left;
    position: absolute;
    top: 55%;
    left: 15%;
    width: 200px;
    height: 200px;
    color: white;
}

.region-tooltip-content.default {
    display: block;
}

.region-tooltip-content h1 {
    color: var(--champagne);
    margin-bottom: 10px;
}

.region-image-wrapper {
    background-image: url('images/cheetah-map.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 85%;
    width: 100%;
    margin: 20px auto;
}

#regions sl-button::part(base) {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

/* Western */
.spot:nth-of-type(1){
    position: absolute;
    top: 30%;
    left: 36%;  
}

/* Southern */
.spot:nth-of-type(2){
    position: absolute;
    top: 80%;
    left: 51%;
}

/*  Eastern */
.spot:nth-of-type(3){
    position: absolute;
    top: 45%;
    left: 60%;
}

/*  Iran */
.spot:nth-of-type(4){
    position: absolute;
    top: 20%;
    right: 20%;
}

#regions sl-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: pulse 1s ease infinite;
}

/* Media query */
@media screen and (max-width: 1024px) {
    #regions {
        margin-top: 0px;
    }

    .region-tooltip-content {
        left: 10%;
    }

    .region-image-wrapper {
        height: 80%;
    }

    /* Western */
    .spot:nth-of-type(1){
        position: absolute;
        top: 30%;
        left: 30%;  
    }

    /* Southern */
    .spot:nth-of-type(2){
        position: absolute;
        top: 75%;
        left: 53%;
    }

    /*  Eastern */
    .spot:nth-of-type(3){
        position: absolute;
        top: 45%;
        left: 65%;
    }

    /*  Iran */
    .spot:nth-of-type(4){
        position: absolute;
        top: 25%;
        right: 20%;
    }
}

/* Media query */
@media screen and (max-width: 678px) {
    .region-tooltip-content {
        text-align: center;
        top: 58vh;
        left: 0;
        width: 100vw;
        padding: 0 5px;
    }

    .region-image-wrapper {
        height: 70%;
    }

     /* Western */
     .spot:nth-of-type(1){
        position: absolute;
        top: 25%;
        left: 20%;  
    }

    /* Southern */
    .spot:nth-of-type(2){
        position: absolute;
        top: 65%;
        left: 53%;
    }

    /*  Eastern */
    .spot:nth-of-type(3){
        position: absolute;
        top: 40%;
        left: 70%;
    }

    /*  Iran */
    .spot:nth-of-type(4){
        position: absolute;
        top: 20%;
        right: 10%;
    }
} 

/* Media query */
@media screen and (max-width: 430px) {

   /* Southern */
   .spot:nth-of-type(2){
    position: absolute;
    top: 60%;
    left: 53%;
    }
}

/* ================================ Cheetah population styling ================================================== */
#population {
    width: 100vw;
    height: 100vh;
    box-shadow: 0 4px 4px -4px var(--champagne);
}
.cheetah-population-content {
    width: 78vw;
    height: 70vh;
    padding: 0 20px;
    text-align: center;
    margin: auto;
}

.cheetah-population-content h1 {
    font-family: 'Cinzel', serif;
    color: white;
    text-shadow: 2px 2px 2px var(--champagne);
    margin: 100px 0;
    text-transform: uppercase;
}

.cheetah-population-content .headings {
    font-size: 2rem; 
}

.population-number {
    font-size: 3rem;
} 

.population-active {
border: solid 3px var(--champagne);
scale: 1.8;
animation: timelinePulse 1s ease infinite;
}
    
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 200px auto 100px auto;
}

.bar {
    padding: 30px 65px;
    display: flex;
    justify-content: center;
    border-top: 4px solid var(--champagne);
    position: relative;
    transition: all 200ms ease-in ; 
    color: var(--champagne);
}

.tip, .tip-end {
    content: '';
    background-color: white;
    position: absolute;
    transition: all 200ms ease-in;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -15px;
}

.tip:hover {
    cursor: pointer;
    border: solid 1px var(--champagne);
    scale: 1.5;
}

/* Media query */
@media screen and (max-width: 1024px) {

    .cheetah-population-content {
        width: 95vw;
    }

    .cheetah-population-content .headings {
        font-size: 1.5rem;  
    }
    
    .population-number {
        font-size: 2rem;
    } 

    .bar {
        padding: 30px 45px;
    }
}

/* Media query */
@media screen and (max-width: 768px) {
    
    .bar {
        padding: 30px 20px;
    }
}

/* Media query */
@media screen and (max-width: 500px) {
    .bar {
        padding: 30px 8px;
    }
}

/* Media query */
@media screen and (max-width: 400px) {
    .bar {
        padding: 30px 5px;
    }

    .cheetah-population-content .headings {
        font-size: 1rem; 
    }
}

/* ================================ Cheetah gallery styling ================================================== */
#gallery {
    height: 100vh;
    width: 100vw;
    position: relative;
    box-shadow: 0 4px 4px -4px var(--champagne);
}

.cheetah-gallery-content{
    height: 80vh;
    width: 75vw;
    margin: auto;
}

#main-img {
    height: 70%;
    border: solid white 10px;
    transition: 0.5s;
}

/* Slider images and arrow styling */
#slider {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

#slider-images {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 65vw;
    overflow: hidden; 
    gap: 10px;
}

.slider-img {
    width: 32.5%;
    transition: 0.5s;
    border: 3px solid white;
}

.slider-img:hover {
    opacity: .7;
    cursor: pointer;
}

#left-arrow, #right-arrow {
    flex: 1;
}

#left-arrow {
 text-align: right;
}

.fa-angle-left, .fa-angle-right {
    font-size: 50px; 
    color: white;
    padding: 20px;
}

.fa-angle-left:hover, .fa-angle-right:hover {
   opacity: .8; 
   scale: 1.3;
   cursor: pointer;
}

#main-img:hover {
    cursor: pointer;
    scale: 1.1;
}

.gallery-image {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.95);
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

/* Close media styling */
.close-image {
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    height: 70px;
    transition: 0.5s ease-in-out;
    width: 100%;
}

.close-image:hover {
    cursor: pointer;
    rotate: 360deg;
    scale: 1.3;
    opacity: .7;
}

/* Media query */
@media screen and (max-width: 1024px) {
    .cheetah-gallery-content{
        height: 100vh;
        width: 100vw;
    }

    .slider-img {
        width: 100%;
    }
}

/* Media query */
@media screen and (max-width: 768px) {

    #slider {
        flex-direction: column;
        justify-content: start;
        height: 50vh;
    }

    .cheetah-gallery-content { 
        margin-top: -150px;
    }

    #main-img {
       width: 90vw;
    }
} 

/* ===================================================================================================== */
/* ================================ Conservation section layout ======================================== */
/* ===================================================================================================== */
#conservation {
    padding: 100px 50px;
    box-shadow: 0 4px 4px -4px var(--champagne);
}

.conservation-content {
    margin: auto;
    width: 60vw;
    height: 50vh;
}

.conservation-content:nth-of-type(1) {
    margin: auto;
}

.conservation-content > h1 {
    text-transform: uppercase;
    font-size: 1.8em;
    background-color: var(--champagne);
    padding: 20px 50px;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px  rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
    box-shadow: 5px 5px 12px white;
}

.conservation-content > p {
    font-size: 1.8em;
    color: white;
    text-align: center;
}

/* Media query */
@media screen and (max-width: 1024px) {
    .conservation-content {
        width: 95vw;
    }

    #conservation {
        padding: 100px 0px;
    }
}

/* Media query */
@media screen and (max-width: 768px) {
    .conservation-content > h1 {
        font-size: 1.2em;
    }
    
    .conservation-content > p {
        font-size: 1em;
    }
}

/* ===================================================================================================== */
/* ================================ About section layout ======================================== */
/* ===================================================================================================== */
 #about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.about-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    padding: 0px 100px;
}

.about-content > h1 {
    text-transform: uppercase;
    font-size: 1.8em;
    color: var(--champagne);
}

.about-content > p {
    font-size: 1.8em;
    font-weight: normal;
}

.get-involved {
    padding: 7px 12px;
    border-radius: 10px;
    font-size: 1em;
}

.get-involved {
    background-color: var(--champagne);
    color: white;
    border: solid 1px white;
}

.button-wrapper {
    margin-top: 20px;
}

.get-involved:hover {
    cursor: pointer;
    opacity: .7;
}

.get-involved:hover {
    cursor: pointer;
    opacity: .7;
}

/* Media query */
@media screen and (max-width: 1024px) {

    .about-content {
        width: 100vw;
        justify-content: center;
        gap: 20px;
        padding: 50px;
    }
}

/* Media query */
@media screen and (max-width: 768px) {

    .about-content {
        padding: 20px;
    }

    .about-content > h1 {
        font-size: 1.2em;
    }
    
    .about-content > p {
        font-size: .8em;
    }

    .get-involved {
        font-size: .8em;
    }
}

/* Media query */
@media screen and (max-width: 450px) {
    .about-content > h1 {
        font-size: 1.2em;
    }
    
    .about-content > p {
        font-size: .8em;
    }

    .get-involved {
        font-size: .8em;
    }
}

/* ============================================================================================== */
/* ================================ Contact section Layout ====================================== */
/* ============================================================================================== */
#contact {
   height: 100vh;
}

.contact-content {
    padding: 300px 50px 50px 50px;
    text-align: center;
}

.contact-form {
    margin: auto;
}

.contact-form > input {
    width: 40vw;
    border: solid 1px var(--champagne);
    border-radius: 5px;
    padding-left: 20px;
}

.contact-form input:nth-of-type(1),
.contact-form input:nth-of-type(2),
.contact-form input:nth-of-type(3) {
    height: 50px;
}

.contact-form input:nth-of-type(4) {
    height: 150px
}

.contact-content > h4 {
    color: var(--champagne);
    padding: 30px 0;
}

/* Media query */
@media screen and (max-width: 1024px) {

    .contact-content {
        padding: 200px 0 0 0;
    }

    .contact-form {
        width: 90vw;
    }

    .contact-form > input{
        width: 90%;
    }
}

/* ================================ Keyframes ============================================= */
/*  Timeline */
@keyframes timelinePulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

/* Pulse styling for region hotspots */ 
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0.4;
    }
}

/* ================================ Footer ============================================= */
footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
